body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FCF3E4;
    color: #555;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

#navbar{
    background-color: #FFB54D;
    color: #24130F;
}

#navbar ul{
    padding: 25px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#navbar li{
    margin: 0px;
}

.showcase{
    background-color: #FCF3E4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding: 60px;
}

.showcase h1{
    font-size: 55px;
    color: #24130F;
    line-height: 55px;
    text-align: center;
    width: 800px;
    /* width: 100%; */

}

.showcase p{
    color: #24130F;
    padding: 0px 100px;
}

.showcase li{
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23158828"><path d="M9 19c-.26 0-.51-.1-.71-.29l-6-6A.996.996 0 1 1 3.7 11.3l5.29 5.29L20.28 5.3a.996.996 0 1 1 1.41 1.41l-12 12c-.2.2-.45.29-.71.29Z"></path></svg>');
    text-align: left;
}
.showcase li::marker{
    font-size: 1.8em;
}

.clr{
    clear: both;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #f4a460; /* Adjusted color */
    color: black; /* Adjusted color */
    border: 2px solid #8B4513; /* Adjusted color */
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button svg {
    margin-left: 10px;
    fill: #8B4513; /* Adjusted color */
    transition: transform 0.3s ease;
    display: inline-block;
    vertical-align: middle;
}

.button:hover {
    background-color: #d98d3b; /* Adjusted color */
}

.button:hover svg {
    transform: translateX(5px);
}

.button-showcase{
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: #d98d3b;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-showcase img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.button-text{
    display: flex;
    flex-direction: column;
}

.message{
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.emoji{
    margin-left: 5px;
}

.author{
    margin: 0;
    font-size: 0.85rem;
    color: #555;
}


.justify-container h2{
    text-align: center;
}

.example-justify{
    display: flex;
    align-items: center;
}



/* url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2365372A"><path d="m20.71 11.29-6-6A.996.996 0 1 0 13.3 6.7l4.29 4.29H4c-.55 0-1 .45-1 1s.45 1 1 1h13.59l-4.29 4.29a.996.996 0 0 0 .71 1.7c.26 0 .51-.1.71-.29l6-6a.996.996 0 0 0 0-1.41Z"></path></svg>') */


